@charset "UTF-8";
body {
  width: 100vw;
  height: 150vh;
  background-image: url("../assets/images/fondo_header2.jpg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

header {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header .conteiner__logo1__header .img__logo__header {
    width: 250px;
    height: 250px; }
  header nav ul {
    display: flex; }
    header nav ul li {
      list-style: none; }
      header nav ul li a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
        color: #919191; }
  header .conteiner__logo2__header .img__logo__header {
    width: 250px;
    height: 250px; }

main {
  width: 100vw;
  height: 100vh;
  background-color: #e2e2e2; }
  main .section__conteiner__banner {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/banner_perrofu.jpeg");
    box-shadow: 0px -25px 20px -20px black, 25px 0 20px -20px black, 0px 25px 20px -20px black, -25px 0 20px -20px black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    main .section__conteiner__banner .section__conteiner__titulo {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      main .section__conteiner__banner .section__conteiner__titulo h1 {
        color: #787878; }
      main .section__conteiner__banner .section__conteiner__titulo h2 {
        color: #787878; }

footer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center; }
  footer .footer__conteiner__texto .footer__texto {
    margin-top: 20px;
    font-size: 18px;
    color: #919191; }

@media (max-width: 1334px) {
  .img__logo__header {
    display: none; } }

@media (max-width: 1000px) {
  main {
    height: auto; }
    main .section__conteiner__galeria__de__imagenes {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding-top: 20px;
      padding-bottom: 20px;
      row-gap: 10px; } }

@media (max-width: 820px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.section__conteiner__banner__quienes__somos {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/banner_perrofu.jpeg");
  box-shadow: 0px -25px 20px -20px black, 25px 0 20px -20px black, 0px 25px 20px -20px black, -25px 0 20px -20px black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section__conteiner__banner__quienes__somos .section__conteiner__titulo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .section__conteiner__banner__quienes__somos .section__conteiner__titulo h1 {
      color: #787878; }
    .section__conteiner__banner__quienes__somos .section__conteiner__titulo h2 {
      color: #787878; }
    .section__conteiner__banner__quienes__somos .section__conteiner__titulo .texto__quienes__somos {
      color: #e4e4e4;
      line-height: 60px;
      font-size: 1.5rem;
      text-align: center; }

.section__conteiner__galeria__de__imagenes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 20px; }
  .section__conteiner__galeria__de__imagenes .section__previas h1 {
    text-align: center;
    color: #787878;
    font-weight: bolder; }
  .section__conteiner__galeria__de__imagenes .section__previas .section__previas__images__container {
    display: grid;
    grid-template-columns: 8em 8em;
    gap: 20px;
    justify-content: center;
    margin-top: 25px; }
    .section__conteiner__galeria__de__imagenes .section__previas .section__previas__images__container div img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  .section__conteiner__galeria__de__imagenes .section__eventos h1 {
    text-align: center;
    color: #787878;
    font-weight: bolder; }
  .section__conteiner__galeria__de__imagenes .section__eventos .section__eventos__images__container {
    display: grid;
    grid-template-columns: 8em 8em;
    gap: 20px;
    justify-content: center;
    margin-top: 25px; }
    .section__conteiner__galeria__de__imagenes .section__eventos .section__eventos__images__container div img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  .section__conteiner__galeria__de__imagenes .section__cumpleaños h1 {
    text-align: center;
    color: #787878;
    font-weight: bolder; }
  .section__conteiner__galeria__de__imagenes .section__cumpleaños .section__cumpleaños__images__container {
    display: grid;
    grid-template-columns: 8em 8em;
    gap: 20px;
    justify-content: center;
    margin-top: 25px; }
    .section__conteiner__galeria__de__imagenes .section__cumpleaños .section__cumpleaños__images__container div img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
