footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;

    .footer__conteiner__texto{
        .footer__texto{
            margin-top: 20px;
            font-size: 18px;
            color: rgb(145,145, 145);
        }
    }
    
    
}