header{
    width: 100vw;
    height: 34vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .conteiner__logo1__header{
        .img__logo__header {
            width: 250px;
            height: 250px; }
    }

    nav {
        ul {
            display: flex;
            li{
                list-style: none;
                a{
                    display: inline-block;
                    text-decoration: none;
                    padding: 10px;
                    font-size: 22px;
                    color: rgb(145, 145 ,145);
                    font-family: 'Letra PerroFu';
                }
                a{
                    &:hover{
                        border-radius: 9px;
                        background-color: rgb(84, 84, 87);
                        transition: 1s;
                    }
                }
    
            }
         }
    }

     .conteiner__logo2__header{
        .img__logo__header {
            width: 250px;
            height: 250px; }  
     }

}

