

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 226, 226);
    .section__conteiner__banner{
        width: 100vw;
        height: 100vh;
        background-image: url("../assets/images/banner_perrofu.jpeg");
        box-shadow: 0px -25px 20px -20px rgb(0, 0, 0 / 45%), 25px 0 20px -20px rgb(0, 0 ,0 / 45%), 0px 25px 20px -20px rgb(0, 0, 0 / 45%), -25px 0 20px -20px rgb(0, 0, 0 / 45%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .section__conteiner__titulo{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h1{
                color: $color-titulo;
            }
            h2{
                color: $color-titulo;
            }
        }
    
    }
}



