@media(max-width : 1334px){ 

    .img__logo__header{
        display: none;
    }


    
}

@media(max-width : 768px){
    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width : 1000px){

    main{
        height: auto;
    }

    .section__conteiner__galeria__de__imagenes{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
        row-gap: 10px;
    } 

}