@media(max-width : 1334px){ 

    .img__logo__header{
        display: none;
    }


    
}

@media(max-width : 1000px){

    main{
        height: auto;
        
        .section__conteiner__galeria__de__imagenes{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            padding-top: 20px;
            padding-bottom: 20px;
            row-gap: 10px;
        } 
    }

    

}

@media(max-width : 820px){
    header{
        nav{
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    a{
                        font-size: 13px;
                    }
                }
            }
        }
    }

    main{
        .section__conteiner__banner__quienes__somos{
            .section__conteiner__titulo{
                .texto__quienes__somos{
                    @include texto-descriptivo (rgb(228, 228, 228),60px, 20px, center)
                }
            }
        }
    }  
}

