

.section__conteiner__banner__quienes__somos{
    width: 100vw;
    margin-top: 50px;
    .section__conteiner__quienes__somos__contenido{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        .section__conteiner__contenido__texto{
            padding-left: 10px;
            .section__conteiner__contenido__texto__titulos{
                h2{
                    color: $color-titulo-descripcion;
                }
                h1{
                    margin-top: 35px;
                    color: $color-titulo-descripcion;
                    
                }
            }
            .section__conteiner__contenido__texto__parrafo{
                p{
                    margin-top: 30px;
                    color: $color-texto;
                }
            }
        }

        .section__conteiner__contenido__img{
            img{
                width: 400px;
                height: 350px;
                border-radius: 10px;
                object-fit: cover
                
                
            }
        }

    }

}












