
.contenedor__galeria{
    padding-top: 50px;
    background-color: #e9e9e9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: grey;
        font-family: 'Letra PerroFu';
    }
    .contenedor__galeria__grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 200px;
        gap: 20px;
        padding: 20px;
        width: 90%;
        margin: auto;
        .contenedor__galeria__grid__contenido{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
        }

    }
    .contenedor__galeria__grid :nth-child(1){
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(2){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(3){
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(4){
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(5){
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(6){
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(7){
        grid-row-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(8){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(9){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(10){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    .contenedor__galeria__grid :nth-child(11){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
}







