
.section__conteiner__banner__productos{
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/productos.jpeg");   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .section__conteiner__titulo{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1{
            font-size: 60px;
            color: white;
            width: 100%;
        }
        i{
            margin-top: 55px;
            color: white;
            font-size: 50px;
        }
    }
}


.productos__contenedor{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    .productos__contenedor__titulo{
        margin-top: 80px;
        font-size: 20px;
        text-align: center;
        color: grey;
    }
    .productos__contenedor__grid{
        margin-top: 65px;
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 50px 1fr 1fr  ;
        column-gap: 90px;
        row-gap: 35px;
        text-align: center;
        .productos__contenedor__grid__titulo{
            grid-column: 1/5;
            grid-row: 1/2;
            color: #929ca2;
            border-bottom: solid 1px;
        }
        .productos__contenedor__grid__contenido{
            .productos__contenedor__grid__contenido__imagen__contenedor{
                width: 100%;
                img{
                    width: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }
            p{
                color: #777777;
                font-weight: bold;
                margin-top: 5px;
            }
            button{
                margin-top: 10px;
                font-size:13px;
                font-family:Arial;
                width:140px;
                height:28px;
                border-width:1px;
                color:#777777;
                border-color: transparent;
                font-weight:bold;
                border-top-left-radius:6px;
                border-top-right-radius:6px;
                border-bottom-left-radius:6px;
                border-bottom-right-radius:6px;
                box-shadow:inset 0px 1px 0px 0px #ffffff;
                text-shadow:inset 0px 1px 0px #ffffff;
                background:linear-gradient(#ededed, #dfdfdf);
                cursor: pointer;
            }
        }
    }
}